/* B */
/* join */
.form-radio-box{display: flex;}
.form-radio-box > *{margin-right: 10px;}
.form-btn-box{width: 100%; display: flex; justify-content: flex-end;align-items: center;}
.btn{transition: .3s; cursor: pointer;}
.btn:hover{opacity: 0.7;}

/* store */
#basket_table{width: 100%;margin-top: 30px;}
#basket_table tr > *{padding: 10px;}
#basket_table > thead > tr{
    border-top: 2px solid #2B4585;
    border-bottom: 3px double #2B4585;
}

.basket_img{width: 60px;}
#basket_table tbody tr:nth-child(even) {background-color: #F9F9F9;}

.basket_info_area{
    display: flex;
    align-items: center;
}

.basket_info_area > *{margin-right: 20px;}
.basket_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
}

.basket_info > h5{font-size: 1.5em;}
.basket_info > p{
    font-size: 0.8em;
    font-weight: bold;
    color: #555;
    margin: 0;
}

.basket_info_area > p{
    margin: 0;
    font-weight: bold;
}

.basket_btn_area,#basket_table thead tr > th:last-child{width: 50px;}
.basket_del_btn > i{
    pointer-events: none;
    color: #555;
    transition: .3s;
}

.basket_del_btn:hover > i{opacity: 0.8;}

#basket_footer{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#basket_sum{
    margin: 0;
    margin-right: 20px;
    font-weight: bold;
}

#basket_sum_num{
    font-weight: normal;
    margin: 0 10px;
    border-bottom: 2px solid #fff;
    padding: 0 10px;
    transition: .3s;
}

#item_area{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.item{
    position: relative;
    width: 280px;
    height:425px;
    margin: 30px;
    padding: 10px;
    border: 5px dashed #ddd;
    transition: .3s;
}

.item:hover{border-color: #5A7091;}

.item-photo{
    width: 100%;
    height: 210px;
    overflow: hidden;
    position: relative;
}

.item-photo > img{width: 100%; min-height: 100%;}

.item-info > h5 > span{opacity: 0.5;}
.item-size{
    position: absolute;
    background-color: #00000055;
    color: #fff;
    padding: 10px;
    bottom: 0;
    right: 0;
    margin: 0;
    font-size: 0.9em;
    font-weight: bold;
}

.item-hash-tag{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    align-items: flex-end;
    height: 50px;
}

.item-hash-tag > p{margin-bottom:0px;margin-right: 5px;}
.basket_info_number{
    border: 0;
    margin-right: 5px;
    border-bottom: 2px solid #ddd;
}

.hash{
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.hash_input{width: 100%;position: relative;}
.hash_input > span{
    position: absolute;
    top: 10px;
    left: 15px;
    transition: .3s;
}

.hash_word{
    border: none;
    width: 100%;
    background-color: #eee;
    padding: 10px;
    padding-left: 30px;
    transition: .3s;
}

.hash_word::placeholder{transition: .3s;}

.hash_word:focus{
    color: #fff;
    background-color: #5A7091;
}

.hash.pink .hash_word:focus{background-color: #F15454;}

.hash_word:focus::placeholder{color: #fff;}
.hash_word:focus ~ span {color: #fff;}

.hash_value{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.hash_result{
    display: inline-block;
    padding: 10px;
    background-color: #5A7091;
    color: #fff;
}

.hash.pink .hash_result{background-color: #F15454;}

.hash_result_del{
    font-size: 0.8em;
    font-weight: normal;
    border: none;
    padding: 0;
    margin: 0;
    margin-left: 5px;
    background-color: rgba(0, 0, 0, 0);
}

.hash_result_del > i{
    color: #fff;
    pointer-events: none;
}

.hash_result:nth-child(1){background-color: #526788;}
.hash_result:nth-child(2){background-color: #5C7192;}
.hash_result:nth-child(3){background-color: #657A9C;}
.hash_result:nth-child(4){background-color: #6D82A4;}
.hash_result:nth-child(5){background-color: #6F84A7;}
.hash_result:nth-child(6){background-color: #7388AB;}
.hash_result:nth-child(7){background-color: #788DB1;}
.hash_result:nth-child(8){background-color: #8398BB;}
.hash_result:nth-child(9){background-color: #8EA2C4;}
.hash_result:nth-child(10){background-color: #98ABCC;}

.hash.pink .hash_result:nth-child(1){background-color: #DE4040;}
.hash.pink .hash_result:nth-child(2){background-color: #E34646;}
.hash.pink .hash_result:nth-child(3){background-color: #E84B4B;}
.hash.pink .hash_result:nth-child(4){background-color: #EB4F4F;}
.hash.pink .hash_result:nth-child(5){background-color: #F35A5A;}
.hash.pink .hash_result:nth-child(6){background-color: #F46161;}
.hash.pink .hash_result:nth-child(7){background-color: #F76B6B;}
.hash.pink .hash_result:nth-child(8){background-color: #F97272;}
.hash.pink .hash_result:nth-child(9){background-color: #FB7979;}
.hash.pink .hash_result:nth-child(10){background-color: #FF8C8C;}

.hash_errorMsg{
    padding: 10px;
    font-weight: bold;
    color: #dc3545;
}

.auto_hash_box{
    position: absolute;
    top: 44px;
    left: 0px;
    background-color: #5A7091;
    width: 100%;
}

.hash.pink .auto_hash_box{background-color: #F48383;}

.auto_hash_tag{
    width: 100%;
    padding-left:20px;
    margin: 0;
    color: #fff;
    height: 40px;
    line-height: 40px;
}

.auto_hash_tag.select{background-color: #788DB1;}
.hash.pink .auto_hash_tag.select{background-color: #FF9A9A;}

#item_list_header{
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 100;
    padding-top: 20px;
}

#item_not_found{
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: #eee;
}

#goods_btn{
    margin: 0 30px;
    padding: 10px 50px;
    border: none;
    background-color: #526788;
    color: #fff;
}

#store_item{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

#goods_popup .modal-footer > button{width: 100px;}

/* entry */
#entry_wrap > .content_box{
    display: flex;
    justify-content: center;   
}

#entry_wrap > .content_box > canvas{
    border: 5px solid #eee;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#tool_box{
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tool_item{
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tool_item > i{
    pointer-events: none;
    color: #555;
    transition: .3s;
}

.tool_item.active > i{color: #F48383;}

.entry_button_box{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#entry_button{
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    background-color: #F48383;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

#entry_button:hover{opacity: 0.7;}

#helper_search_wrap{display: flex; height: 40px;}
#helper_search{width: 40%; height: 100%;}
#helper_msg{margin: 0;line-height: 40px;}
.helper_btn{
    height: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    cursor: pointer;
    transition: .3s;
}

.helper_btn:hover{opacity: 0.7;}

#helper_header{
    margin-top: 20px;
    margin-bottom: -1px;
    width: 100%;
    height: 40px;
    display: flex;
}

#helper_header > label{
    width: 100px;
    height: 100%;
    text-align: center;
    line-height: 40px;
    border: 1px solid #ddd;
    border-right: none;
    border-bottom: none;
    cursor: pointer;
    background-color: #ddd;
}

#helper_header > label:last-child{border-right: 1px solid #ddd;}

#helper_body{
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
}

#helper_body > .tab{
    width: 100%;
    display: none;
}

#focus-select:checked ~ .content_box label[for=focus-select]{border-bottom: #fff;background-color: #fff;}
#focus-select:checked ~ .content_box .tab[data-target='#focus-select']{display: block;}

#focus-spin:checked ~ .content_box label[for=focus-spin]{border-bottom: #fff;background-color: #fff;}
#focus-spin:checked ~ .content_box .tab[data-target='#focus-spin']{display: block;}

#focus-cut:checked ~ .content_box label[for=focus-cut]{border-bottom: #fff;background-color: #fff;}
#focus-cut:checked ~ .content_box .tab[data-target='#focus-cut']{display: block;}

#focus-glue:checked ~ .content_box label[for=focus-glue]{border-bottom: #fff;background-color: #fff;}
#focus-glue:checked ~ .content_box .tab[data-target='#focus-glue']{display: block;}

#entry_footer{
    display: flex;
    justify-content: space-between;
}

#entry_footer > .content_wrap{
    padding:0;
    width: 45%;
}

#helper_body span.active{
    background-color: #FF8C8C;
    padding: 0.1em;
}

#entry_none{
    text-align:center;
    padding:10px 20px;
    background-color:#eee;
    width: 100%;
}

#entry_img_list{
    width:100%;
    padding:20px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.entry_img_item{
    width:200px;
    height:300px;
    margin:10px;
}

.entry_img_box{
    width:100%;
    height:200px;
    overflow:hidden;
}

.entry_img_box > img{width:100%;min-height:100%;}

.context-menu{
    position: absolute;
    border: 1px solid #ddd;
    border-radius: 0.3em;
    background-color: #fff;
    box-shadow: 5px 5px 20px #ddd;
}

.context-menu-item{
    padding: 10px 50px;
    border-bottom: 1px solid #ddd;
    transition: .3s;
    text-align: center;
    cursor: pointer;
}

.context-menu-item:last-child{border: none;}

.context-menu-item:hover{opacity: 0.7;}

/* work */
#great_work_area{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 30px;
}

#great_work_area > .gallery_img_wrap{margin: 20px;}

.gallery_info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.gallery_hash{
    font-size: 0.8em;
    width: calc(100% - 40px);
    padding: 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gallery_hash > span{margin-right: 5px;}

.gallery_star{
    width: 30px;
    font-size: 0.8em;
    font-weight: bold;
}

.gallery_star > i{pointer-events: none;}

#great_work_area .gallery_img_box span{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px 15px;
    background-color: #ffE09D;
}

.work_page > .content_wrap{margin: 30px auto;}
.work_page > .content_wrap > .content_title{margin-bottom: 40px;}

#all_work_area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#all_work nav{width: 100%;}
#all_work .pagination{justify-content: center;align-items: center;}
#all_work .page-item{width: auto;margin-top: 0;}
#all_work .page-item.active > .page-link{background-color: #526788 !important; color: #fff !important;}
#all_work .page-link{
    border-radius: 0.1em;
    color: #5A7091;
    margin: 0;
    border: none;
    padding: 0;
    line-height: 35px;
    width: 35px;
    height: 35px;
    text-align: center;
}

#all_work .page-link > span > i{color: #2B4585;pointer-events: none;}

#all_work .page-item:first-child{margin-right: 10px;}
#all_work .page-item:last-child{margin-left: 10px;}

#artwork_search{
    display: flex;
    justify-content: center;
}

#artwork_search_btn{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    width: 44px;
    height: 44px;
    margin-top: 20px;
    transition: .3s;
}

#artwork_search_btn > i {pointer-events: none;}
#artwork_search_btn:hover{opacity: .7;}

.gallery_img_box > p{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #555;
    margin: 0;
    padding: 10px;
    font-size: 0.7em;
}

#entry_work_area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#entry_work_area .work_delete{
    position: absolute;
    width: 100%;
    padding: 20px;
    bottom: calc(50% - 45px);
    left: 0;
    height: 90px;
    background-color: #555;
}

.work_delete > h5{
    color: #fff;
    font-size: 1em;
}

.work_delete > p{
    color: #fff;
    font-size: 0.8em;
    margin: 0;
}

.gallery_img_wrap *{pointer-events: none;}

/* artwork */
#artwork_page{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 0;
    margin-bottom: 50px;
}

#artwork_page > div{
    width: 45%;
    margin: 10px 20px;
    min-width: 400px;
    max-width: 800px;
}

#artwork_img_box{
    box-shadow: 10px 10px 0 #5C7192;
    border: 3px solid #657A9C;
}
#artwork_img_box > img{width: 100%;}

#artwork_info{
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#artwork_header{
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#artwork_header > h5{
    margin: 0;
    font-size: 1.5em;
}

#artwork_header_box{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#artwork_buttons{height: 24px;}

.artwork_btn{
    transition: .3s;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
    color: #aaa;
}

.artwork_btn:first-child:hover{color: #526788;}
.artwork_btn:last-child:hover{color: #EB4F4F;}

#artwork_date{font-size: 0.8em;}

#all_work_header{
    padding-top: 20px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: #fff;
}

#artwork_creater{
    display: flex;
    margin-top: 10px;
    padding: 10px;
    background-color: #eee;
}

#artwork_creater_img{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 100%;
    border: 1px solid #ddd;
}

#artwork_creater_img > img{width: 100%;max-height: 100%;}

#artwork_creater_info{margin: 0 20px;}

#artwork_creater_info > p:first-child{font-weight: bold;}
#artwork_creater_info > p:last-child{font-weight: bold;font-size: 0.9em;color: #555;}
#artwork_content{display: grid;grid-template-rows: 1fr auto;}

#artwork_score_selected > i{
    color: #F35A5A;
    pointer-events: none;
}

#artwork_score_selected{
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    margin: 0;
}

#artwork_score_open{
    float: right;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 10px;
    pointer-events: none;
}

#artwork_score_open > i{transition: .3s;}

#artwork_score_add{position: relative;}

#artwork_score_list{
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 0;
    border-radius: 5px;
    background-color: #fff;
    height: 0;
    overflow: hidden;
    transition: .3s;
}

#artwork_score_selected.open ~ #artwork_score_list {
    height: 342px;
    border: 1px solid #ddd;
}

#artwork_score_selected.open > #artwork_score_open > i{transform: rotate(180deg);}

.artwork_score_item{
    margin: 0;
    padding: 5px 10px;
    padding-right: 20px;
    transition: .3s;
}

.artwork_score_item:hover{background-color: #eee;cursor: pointer;}

.artwork_score_item > i{
    pointer-events: none;
    color: #F35A5A;
}

#artwork_hash_tags{display: flex;flex-wrap: wrap;}
#artwork_hash_tags > span{
    color: #2B4585;
    font-weight: bold;
    margin-right: 5px;
    font-size: 0.8em;
}

#artwork_star{
    color: #F35A5A;
    font-weight: bold;
    margin-right: 10px;
}

#artwork_star > i{color: #F35A5A;}

#artwork_score_add_btn{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-color: #526788;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    transition: .3s;
}
#artwork_score_add_btn:hover{opacity: 0.5;}
#artwork_stars{display: flex;justify-content:flex-end;align-items: center;}